html,body {border:0;margin:0;padding:10px;font-family: 'Noticia Text', serif; font-size: 16px; min-width: 640px;}
header,footer {display: block;}
a img {border:0;}
#container {text-align:left; max-width: 960px;}
.sitename{text-transform: uppercase; display: inline; font-size:150%; font-weight:700;margin-right:20px;}
.sitename a {text-decoration: none; color:black;}
#menu {display: inline; font-size: 150%;}
#menu ul {display: inline; margin-right:20px;}
#menu li {display: inline;}
#menu a {text-decoration: none; margin:0 5px 0 5px;}
hr {border:none;border-bottom: 1px solid #684; height: 1px; width:100%; min-width: 10px;}
h1 {color:#999;font-weight:400; font-size:200%;}
h2 {color:#444;font-weight:400; font-size:150%;}
h3 {color:black;font-weight:700; font-size:110%;}
h4 {color:#444;font-weight:400; font-size:90%; text-transform:uppercase;}
/* Login/logout box */
#admin {display: inline;}
.admin {font-size:90%; text-decoration: none; }
#loginForm {display:none;}
#loginForm Form {display: inline;}
#loginForm .loginFormInput {width:80px;}

